

.bgvid, .bgvidOver, .bgvidSaver{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -10000;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #000000;
    background-size: cover;
}

.bgvidSaver{
    z-index:-9998;
    width: 100%;
    height: 100%;
    opacity:1;
}

.bgvidSaver img{
    width: 100%;
}

.bgvidOver{
    z-index:-9999;
    background:unset;
    opacity:1;
}

.row.vertical-divider {
    overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 3px solid #F2F7F9;
    border-right: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}

/*.main-bar{*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left:0;*/
    /*width:100%;*/
/*}*/
div.stretchy-wrapper {
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
}

div.stretchy-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

h1{
    text-shadow: #666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,
    #666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px,#666 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

/*.top-panel{*/
    /*margin:0;*/
    /*width:100%;*/
    /*height:8%;*/
    /*opacity:0.70;*/
    /*background-color:#224422*/
/*}*/